<nav class="navbar ">
    <h4 class="navbar-brand">
        <img class="c_logo" src="../../images/favicon.png" alt="no" width="30" height="30">
        NLM Plant
         </h4>
         <ul>
           <li>
             <h6>
                Nataraj SOORKOD
             </h6>
           </li>
           <!-- <li>
             <img src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="name" width="30" height="30">
           </li> -->
           <li>
               <img class="c_logo" src="https://scontent.fvga1-1.fna.fbcdn.net/v/t1.0-9/14570485_10154801689472262_5321106744179165493_n.png?_nc_cat=110&_nc_sid=85a577&_nc_ohc=ASNm_VpWu0cAX82hVEp&_nc_ht=scontent.fvga1-1.fna&oh=a7b5dda8bea9f704f7bf73ab05067bd7&oe=5F97D772" alt="name" >
             </li>
         </ul>
  </nav>


  <!-- <nav class="navbar">
    <h1 class="navbar-brand">
     <img src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="no" width="30" height="30">
     NLM Plant
      </h1>
      <ul>
        <li>
          Nataraj SOORKOD
        </li>
        <li>
          <img src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="name" width="30" height="30">
        </li>
        <li>
            <img src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="name" width="30" height="30">
          </li>
      </ul>
    
  </nav> -->
