<app-message></app-message>
<br>
<div class="home">
    <div class=" grid-2 ">
        <div class="view1 container ">
            <ul class="grid-2">
                <!-- <li class="card"><a routerLink="/summary-view">Summaryview</a></li>
                <li class="card"><a routerLink="/kanban-view">Kanban View</a></li>
                <li class="card"><a routerLink="/Machine-view">Machine View</a></li>
                <li class="card"><a routerLink="/Production-Reports">Production Reports</a></li>
                <li class="card"><a routerLink="/Digital-Threads">Digital Threads</a></li>
                <li class="card"><a routerLink="/Alerts-view">Alerts View</a></li> -->

                <li class="card">
                    <img src="https://img.icons8.com/carbon-copy/100/000000/clipboard.png" class="card-img-top"/>
                    
                        <a class="card-link" routerLink="/summary-view">Summary view</a>        
                   
                </li>
                <li class="card">
                    <img src="https://img.icons8.com/carbon-copy/100/000000/clipboard.png" class="card-img-top"/>
                    <a class="card-link" routerLink="/kanban-view">Kanban view</a>
                
                </li>
                <li class="card">
                    <img src="https://img.icons8.com/carbon-copy/100/000000/clipboard.png" class="card-img-top"/>
                    <a class="card-link" routerLink="/Machine-view">Machine view</a>
                
                </li>
                <li class="card_pr">
                    <img src="https://img.icons8.com/carbon-copy/100/000000/clipboard.png" class="card-img-top_pr"/>
                    <a class="card-link_pr" routerLink="/Production-Reports">Production Reports</a>
                
                </li>
                <li class="card">
                    <img src="https://img.icons8.com/carbon-copy/100/000000/clipboard.png" class="card-img-top"/>
                    <a class="card-link" routerLink="/Digital-Threads">Digital Threads</a>
                
                </li>
                <li class="card">
                    <img src="https://img.icons8.com/carbon-copy/100/000000/clipboard.png" class="card-img-top"/>
                    <a class="card-link" routerLink="/Alerts-view">Alerts view</a>
                
                </li>
                
                <!-- <li class="card"><a routerLink="/kanban-view">Kanban View</a></li>
                <li class="card"><a routerLink="/Machine-view">Machine View</a></li>
                <li class="card"><a routerLink="/Production-Reports">Production Reports</a></li>
                <li class="card"><a routerLink="/Digital-Threads">Digital Threads</a></li>
                <li class="card"><a routerLink="/Alerts-view">Alerts View</a></li> -->
                
        
    
              </ul>
        </div>
        <div class="view2">
           
            <ul class="grid-2 container">
                <!-- <li class="card_view2"><a routerLink="/Announcements">Announcements</a>
                </li>
                <li class="card_view2"><a routerLink="/Support">Support</a></li>-->

                <li class="card_view2_a">
                    <a  routerLink="/Announcements">Announcements</a>
                </li>
                <li class="card_view2_s"><a  routerLink="/Support">Support</a></li>
              </ul>
           <div>
            <li class="card_view2"><a routerLink="/Tutorials&Documents">Tutorials & Documents</a></li>
           </div>
        </div>
    </div>
</div>
