<app-message></app-message>
<br>
<div class="home">
    <div class=" grid-2 container">
        <div class="view1 ">
            <ul class="grid-2">
                <li class="card"><a routerLink="/summary-view">Summaryview</a></li>
                <li class="card"><a routerLink="/kanban-view">Kanban View</a></li>
                <li class="card"><a routerLink="/Machine-view">Machine View</a></li>
                <li class="card"><a routerLink="/Production-Reports">Production Reports</a></li>
                <li class="card"><a routerLink="/Digital-Threads">Digital Threads</a></li>
                <li class="card"><a routerLink="/Alerts-view">Alerts View</a></li>
    
              </ul>
        </div>
        <div class="view2">
           
            <ul class="grid-2">
                <li class="card_view2"><a routerLink="/Announcements">Announcements</a></li>
                <li class="card_view2"><a routerLink="/Support">Support</a></li>
              </ul>
           <div>
            <li class="card_view2"><a routerLink="/Tutorials&Documents">Tutorials & Documents</a></li>
           </div>
        </div>
    </div>
</div>
